@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500;600;700&display=swap');
body {
    font-family: 'Cormorant Upright', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: 20px;
}

/* ---------------- */
.listStyle{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around ; 
}
/* --------------l'objet de cv --------- */
header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/img\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    margin: auto;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center ; 
}
#intro {
background-color: rgba(217, 184, 193, 0.7);
text-align: center;
padding: 20px 50px ;
color: #076873;
font-size: 18px;
}
#intro h1{
    color: #fff;
    line-height: 1px;
    font-size: 2.5em;
}

/* ---------------la navbar------------ */
#navBar {
    font-size: 22px;
    font-weight: 700;
    background-color:#076873 ;
    margin: 0px auto;
}
#bienvenue{
    display: none;
}
#navBar a{
    color: #fff;
}
#navBar li{
    background-color:#076873 ;
    padding: 20px 15px;
}
.ongletActive {
    color:#4feafc !important;
}
.fixe {
    position: absolute;
    position: fixed;
    top: 0;
    width: 100vw;
}
/* mon projet  */
h4 a {
    color: #fff;
    background-color: #076873;
    border:2px solid #076873;
    border-radius: 8px;
    padding: 10px 30px;

}
/* ------------------dark mode------- */
.darkMode i{
    font-size: 20PX;
    position: absolute;
    left: -4px;
    top: -1px;
}
.darkMode i::before{
    padding: 10px;
     border-radius: 50%;
    background-color: rgb(245, 188, 188); 
    
}
.darkMode{
    display: inline-block;
    height: 25px;
    width: 50px;
    font-size: 40PX;
    border-radius: 20px;
    position: relative;
    border: 1px solid white; 
}
.changeToDark{
    left: 40% !important;
    color: white;
   
}
.bodyDark{
    color:#fff ;
    background-color: #000 ;
}
.h3Dark {
    color: #06acbe;
}
.h4Dark {
    color: #F27D72;
}
.cardDark{
    background-color:#000 !important;
}
.mainDark {
    background-color: #460b06 !important;
}
.headerDark{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/img\ \(1\).jpg);

}
.bleuDark{
    background-color: #022327 !important;
}
/* ----------la partie profile-----------  */
main{
    background-color:#F27D72 ;
    margin: 0;
}
h3{
    color: #076873;
}
section {
    margin: 0px 8vw;
    padding: 10px ;
    background-color: #fff;
}
#profile{
    border-right:1px solid #F27D72;
    padding-right: 50px;
}
#technoWeb{
    padding-left: 50px;
}
/* ------------la partie formation--------- */
section>h3{
    text-align: center;
}
section h4{
    color: #F27D72;
}
.left {
    text-align: end;
    padding-right: 60px;
}
.right {
    text-align: start;
    padding-left: 5px;
}
/* ----------------cards ----------*/
.card {
    background-color: #8a3a4f;
    width: 18vw;
    height: 42vh;
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10vh;
}
.card i {
    font-size: 80px;
    padding: 20px 0;
}
/* -------------la partie contact---- */
footer{
    display: flex;
    justify-content: start;
    align-items: center;
    /* height: 40vh; */
    padding: 0 100px;
    background-color: #076873;
}
.contact li {
    font-size: 24px;
    padding: 10px 20px;
    color: #fff;
}
#iconContact li {
    color: #BF7B3F;
    font-size: 30px;
}
/* ----------le message de bienvenue-------------- */
#main { 
    width: 100%;
   height: 100%;
   background:rgba(255, 255, 255,0.8);
   position: absolute;
   position: fixed;
   top: 0;
   left: 0;
   


}
#pop-up {
   width: 40vw;
   height: 40vh;
   border-radius: 5px;
   box-sizing: border-box;
   padding: 20px;
   

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    text-align: center;
    background-color: #076873;
} 
#pop-up h3 {
    color: #fff;
}
#pop-up .bouton{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    text-align: end;
}
.afficheMenu{
    display: none;
}



/* -----------site responsive  */
@media (max-width: 500px){

    h1{
        font-size:25px !important;
    }
    #profileSection{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        
    }
    #profile {
        grid-area: 1/1/2/2;
        border: none;

    }
    #technoWeb {
        grid-area: 2/1/3/2;
    }
    #card{
        display: flex;
        display: inline-block;
        text-align: center;
        flex-direction: row;
    }
    #card .card{
        width:60vw;
        margin:10px 10vw;
    }
    footer{
        padding: 0;
    }
    #navBar li {
        display: none;
    }
    #bienvenue{
        display: inline;
        text-align: center;
        color: #fff;
        font-size: 30px;
        padding: 10px;
    }
    .left {
        text-align: end;
        padding-right: 3vw;
    }
    #projets-list{
        margin:2vw auto;
    }
}



#projets-list{
    max-width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    padding: 0;
    margin:2vw auto;
}
#projets-list li {
    padding: 1rem;
    /* outline: 2px dotted; */
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#projets-list img{
    border: 2px solid;
    max-width: 30rem;
    box-shadow: 0.25rem 0.25rem 0 black;
}
#projets-list h4{
    margin: 0.5em ;
}
.github-item{
    width: 100%;
   display: flex;
   justify-content: center;
}
.github a{
    color: White;
}
